<extend name="@admin:layout"/>
<block name="head">
    <style>
        .list-group li { cursor: pointer; }
        .list-group ul { border-top: 1px #eee solid; }
        .list-group ul li { padding-left: 50px; position: relative; }
        .list-group ul li:before, .list-group ul li:after { content: ""; position: absolute; }
        .list-group ul li:before { height: 100%; width: 10px; border-right: 1px #BBB dotted; left: 20px; top: 0; }
        .list-group ul li:after { width: 15px; height: 10px; border-top: 1px #BBB dotted; left: 30px; top: 20px; }
        .list-group ul li:last-child:before { height: 50%; }
        .list-group .pull-right { display: none; }
        .list-group-item.active,
        .list-group-item.active:hover { background-color: #FFF; background-image: none; color: #3eb94e; text-shadow: none; border: 1px #3eb94e solid !important; margin-left: -1px; margin-right: -1px; border-radius: 0 !important; }
        .list-group-item.active:last-child,
        .list-group-item.active:hover:last-child { margin-bottom: -1px; }
        .list-group-item.active:first-child,
        .list-group-item.active:hover:first-child { margin-top: -1px; }
        .list-group-item.active .pull-right { display: block; }
        .panel-heading .btn { margin: -5px -10px -5px 0; }
        .list-group-add-parent { text-align: center; }
        .list-group-add-parent:before { content: ""; border: 2px #eee dashed; position: absolute; left: 3px; right: 3px; top: 3px; bottom: 3px; }
        .list-group-add-parent:hover { color: #3eb94e; }
        .list-group-add-parent:hover:before { border-color: #3eb94e !important; }
        .list-group-add-child { background-color: #F9F9F9; }
        .list-group-add-child:hover { color: #3eb94e; background-color: #F6F6F6; }
        #form_empty { padding: 100px 0; }
        @media (max-width: 600px) {
            .wechat-menu-footer .btn-group { float: none!important; display: block;}
            .wechat-menu-footer .btn { display: block; width: 100%; border-radius: 5px!important; margin-bottom: 10px;}
            .wechat-menu-footer .btn-group:last-child .btn:last-child { margin-bottom: 0;}
        }
    </style>
</block>
<block name="content">
    <form action="{:url('menu_edit')}" method="post" id="post" onsubmit="return false;">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">菜单列表</h3>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="list-group" id="form_list">
                        <foreach name="list" key="i" item="vo">
                            <li class="list-group-item list-group-items list-group-parent" data-parent="1" data-id="parent_{$i}">
                                <div class="pull-right">
                                    <a class="btn btn-xs btn-success list-group-prev">
                                        <i class="icon icon-arrow-up"></i>
                                    </a>
                                    <a class="btn btn-xs btn-success list-group-next">
                                        <i class="icon icon-arrow-down"></i>
                                    </a>
                                </div>
                                <span>{$vo.name}</span>
                                <input type="hidden" name="button[{$i}][name]" value="{$vo.name}"/>
                                <input type="hidden" name="button[{$i}][value]" value="{$vo.value}"/>
                                <input type="hidden" name="button[{$i}][type]" value="{$vo.type}"/>
                            </li>
                            <notempty name="vo.sub_button">
                                <ul>
                                    <foreach name="vo.sub_button" key="i2" item="vo2">
                                        <li class="list-group-item list-group-items list-group-child" data-parent="0" data-id="child_{$i}_{$i2}">
                                            <div class="pull-right">
                                                <a class="btn btn-xs btn-success list-group-prev ">
                                                    <i class="icon icon-arrow-up"></i>
                                                </a>
                                                <a class="btn btn-xs btn-success list-group-next">
                                                    <i class="icon icon-arrow-down"></i>
                                                </a>
                                            </div>
                                            <span>{$vo2.name}</span>
                                            <input type="hidden" name="button[{$i}][sub_button][list][{$i2}][name]" value="{$vo2.name}"/>
                                            <input type="hidden" name="button[{$i}][sub_button][list][{$i2}][value]" value="{$vo2.value}"/>
                                            <input type="hidden" name="button[{$i}][sub_button][list][{$i2}][type]" value="{$vo2.type}"/>
                                        </li>
                                    </foreach>
                                </ul>
                            </notempty>
                        </foreach>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" id="form_delete" class="btn btn-danger btn-sm pull-right" disabled>
                            <i class="icon icon-trash"></i>
                            删除该菜单
                        </button>
                        <h3 class="panel-title" id="form_title">菜单属性</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div id="form_empty" style="display: none" class="text-muted text-center">请先在左侧添加菜单</div>
                        <div class="form-horizontal" id="form_warp">
                            <input type="hidden" id="form_id" value=""/>
                            <input type="hidden" id="form_is_parent" value=""/>
                            <div class="form-group">
                                <div class="col-sm-3 control-label must">菜单名称</div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="form_name" placeholder="请输入菜单名称"/>
                                    <p class="help-block" id="form_tip">字数不超过8个汉字或16个字母</p>
                                </div>
                            </div>
                            <div id="form_attr">
                                <div class="form-group">
                                    <div class="col-sm-3 control-label must">菜单类型</div>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="form_type">
                                            {$type_options}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3 control-label">菜单内容</div>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="4" placeholder="请根据菜单类型填写" id="form_value"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer wechat-menu-footer clearfix">
                        <div class="pull-right btn-group">
                            <button type="button" data-action="{:url('menu_edit')}" id="form_save" class="btn btn-success">
                                <i class="icon icon-check"></i>
                                保存菜单
                            </button>
                            <button type="button" data-action="{:url('menu_sync_up')}" id="form_save_wechat" class="btn btn-warning">
                                <i class="icon icon-wechat"></i>
                                保存并发布到微信
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-action="{:url('menu_sync_down')}" id="form_down">
                                <i class="icon icon-refresh"></i>
                                同步菜单结构
                            </button>
                            <eq name="is_disabled" value="0">
                                <button type="button" class="btn btn-danger" data-action="{:url('menu_delete')}" id="form_clear">
                                    <i class="icon icon-close"></i>
                                    停用菜单
                                </button>
                                <else />
                                <button type="button" class="btn btn-success" data-action="{:url('menu_sync_up')}" id="form_start">启用菜单</button>
                            </eq>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</block>
<block name="foot">
    <script>
		$(function () {
			var pending           = $.dialog.pending('请稍后...');
			var $form             = $('#post');
			var $form_name        = $('#form_name');
			var $form_type        = $('#form_type');
			var $form_value       = $('#form_value');
			var $form_id          = $('#form_id');
			var $form_title       = $('#form_title');
			var $form_delete      = $('#form_delete');
			var $form_tip         = $('#form_tip');
			var $form_attr        = $('#form_attr');
			var $form_list        = $('#form_list');
			var $form_is_parent   = $('#form_is_parent');
			var $form_empty       = $('#form_empty');
			var $form_warp        = $('#form_warp');
			var $form_save        = $('#form_save');
			var $form_save_wechat = $('#form_save_wechat');
			var $form_down        = $('#form_down');
			var $form_clear       = $('#form_clear');
			var parentIndex       = $('.list-group-parent').length;

			/**
			 * 更新增加按钮
			 */
			var updateAddBtn = function () {
				var $parents     = $('.list-group-parent');
				var $addParents  = $('.list-group-add-parent');
				var parentLength = $parents.length;
				if (parentLength < 3) {
					if (!$addParents.length) {
						var html = '<li class="list-group-item list-group-add-parent"><i class="icon icon-plus"> 添加主菜单</li>';
						if (!parentLength) {
							$form_list.html(html);
						} else {
							var $elem   = $parents.eq(parentLength - 1);
							var $nextUl = $elem.next('ul');
							if ($nextUl.length) {
								$elem = $nextUl;
							}

							$elem.after(html);
						}
					}
				} else {
					$addParents.remove();
				}

				$parents.each(function () {
					var $ul = $(this).next('ul');
					if (!$ul.length) {
						$ul = $('<ul />');
						$(this).after($ul);
					}

					var $child      = $ul.find('.list-group-child');
					var $addChild   = $ul.find('.list-group-add-child');
					var childLength = $child.length;
					if (childLength < 5) {
						if (!$addChild.length) {
							var html = '<li class="list-group-item list-group-add-child"><i class="icon icon-plus"> 添加子菜单</li>';
							if (!childLength) {
								$ul.html(html);
							} else {
								$child.eq(childLength - 1).after(html);
							}
						}
					} else {
						$addChild.remove();
					}
				});

				if (!parentLength) {
					$form_delete.prop('disabled', true);
					$form_empty.show();
					$form_warp.hide();
				} else {
					$form_delete.prop('disabled', false);
					$form_empty.hide();
					$form_warp.show();
				}
			};

			// 菜单名称输入事件
			$form_name.on('blur keyup', function () {
				var $me   = $(this);
				var $menu = $('[data-id="' + $form_id.val() + '"]');
				var val   = $.trim($me.val());
				if (!val.length) {
					val = '&nbsp;'
				}
				$menu.find('span').html(val);
				$form_title.html(val);
				$menu.find('input').eq(0).val($me.val());
			});

			// 菜单内容输入事件
			$form_value.on('blur keyup', function () {
				var $me   = $(this);
				var $menu = $('[data-id="' + $form_id.val() + '"]');
				$menu.find('input').eq(1).val($me.val());
			});

			// 菜单类型选择事件
			$form_type.on('change blur', function () {
				var $me   = $(this);
				var $menu = $('[data-id="' + $form_id.val() + '"]');
				$menu.find('input').eq(2).val($me.val());
			});

			// 删除菜单事件
			$form_delete.on('click', function () {
				var isParent = parseInt($form_is_parent.val());
				var $menu    = $('[data-id="' + $form_id.val() + '"]');
				var $active  = $menu.prev('li');
				if (!$active.length) {
					$active = $menu.next('li.list-group-child');
				}
				var messageA = '子';
				var messageB = '';
				if (!$active.length) {
					if (isParent) {
						$active = $menu.prev('ul').prev('li');
						if (!$active.length) {
							$active = $menu.next('ul').next('li.list-group-parent');
						}
					} else {
						$active = $menu.parent('ul').prev('li');
					}
				}

				if (isParent) {
					messageA = '主';
					messageB = '<div class=text-danger>删除后会连同删除该菜单所包含的子菜单.</div>';
				}

				$.dialog.confirm('确认要删除该' + messageA + '菜单吗？' + messageB, function () {
					if (isParent) {
						$menu.next('ul').remove();
						$menu.remove();
					} else {
						$menu.remove();
					}

					pending = $.dialog.pending('删除中，请稍候...');
					setTimeout(function () {
						if ($active.length) {
							$active.trigger('click');
						}

						updateAddBtn();
						pending.close();
					}, 500);

				});
			});

			$form.submitForm({
				before  : function () {
					pending = $.dialog.pending('提交中，请稍候...');
				},
				success : function (json) {
					$.parseCode(json);
				},
				error   : function (json) {
					var infoArr = json.info.split('::');
					var info    = infoArr[0];
					var name    = infoArr[1] || '';
					var code    = json.data + "";
					if (code) {
						// 主菜单
						if (-1 === code.indexOf('00')) {
							var selectorName = 'button[' + code + '][' + name + ']';
							console.log(0, name);
						} else {
							var codeArr = code.split('00');

							var index        = parseInt(codeArr[0]) - 1;
							var child        = parseInt(codeArr[1]) - 1;
							var selectorName = 'button[' + index + '][sub_button][list][' + child + '][' + name + ']';
						}

					} else {
						var selectorName = '';
					}

					$.dialog.alert(info, function () {
						if (selectorName) {
							$("[name='" + selectorName + "']").parent('li').trigger('click');
							if (name) {
								$("#form_" + name).focus();
							}
						}
					});
				},
				after   : function () {
					pending.close();
				}
			});

			// 保存
			$form_save.on('click', function () {
				$form.attr('action', $(this).data('action'));
				$form.submit();
			});

			// 保存并发布到微信
			$form_save_wechat.on('click', function () {
				$form.attr('action', $(this).data('action'));
				$form.submit();
			});
			$('#form_start').on('click', function () {
				$form_save_wechat.trigger('click');
			});

			// 同步菜单结构
			$form_down.on('click', function () {
				$form.attr('action', $(this).data('action'));
				$form.submit();
			});

			// 清空菜单
			$form_clear.on('click', function () {
				$form.attr('action', $(this).data('action'));
				$.dialog.confirm('确认要清空自定义菜单吗？<p class=text-danger>删除后将连同清空微信中的自定义菜单.</p>', function () {
					$form.submit();
				});
			});

			// item单击事件
			$(document).on('click', '.list-group-items', function () {
				$('.list-group-items').removeClass('active');

				var $me = $(this);
				$me.addClass('active');

				var isParent  = parseInt($me.data('parent'));
				var $name     = $me.find('input').eq(0);
				var $value    = $me.find('input').eq(1);
				var $type     = $me.find('input').eq(2);
				var $text     = $me.find('span');
				var id        = $me.data('id');
				var tip       = '字数不超过8个汉字或16个字母';
				var maxLength = 16;

				if (isParent) {
					maxLength = 16;
					var $ul   = $me.next('ul');
					var $li   = $me.next('ul').find("[data-id]");
					if ($ul.length && $li.length) {
						tip = '字数不超过4个汉字或8个字母，已添加子菜单，仅可设置菜单名称。';
						$form_attr.hide();
					} else {
						tip = '字数不超过4个汉字或8个字母。';
						$form_attr.show();
					}
				} else {
					$form_attr.show();
				}

				$form_type.val($type.val());
				$form_value.val($value.val());
				$form_name.val($name.val()).attr('maxlength', maxLength);
				$form_title.text($name.val());
				$form_id.val(id);
				$form_delete.prop('disabled', false);
				$form_tip.text(tip);
				$form_name.focus();
				$form_is_parent.val(isParent);
			});

			// 添加主菜单事件
			$(document).on('click', '.list-group-add-parent', function () {
				parentIndex++;
				var $item = $('<li class="list-group-item list-group-items list-group-parent" data-parent="1" data-id="parent_' + parentIndex + '"/>');
				$item.html('<div class="pull-right">  <a class="btn btn-xs btn-success list-group-prev "><i class="icon icon-arrow-up"></i></a> <a class="btn btn-xs btn-success list-group-next"><i class="icon icon-arrow-down"></i></a> </div> <span>菜单名称' + parentIndex + '</span> <input type="hidden" name="button[' + parentIndex + '][name]" value="菜单名称' + parentIndex + '"/> <input type="hidden" name="button[' + parentIndex + '][value]" value=""/> <input type="hidden" name="button[' + parentIndex + '][type]" value="view"/> </li>');
				$(this).before($item);
				$item.after('<ul></ul>');

				updateAddBtn();

				$item.trigger('click');
			});

			// 添加字菜单事件
			$(document).on('click', '.list-group-add-child', function () {
				var $warpUl  = $(this).parent('ul');
				var $parent  = $warpUl.prev('.list-group-parent');
				var parentId = $parent.data('id').replace('parent_', '');
				var varName  = 'WECHAT_MENU_CHILD_INDEX_' + parentId;
				if (window[varName] === undefined) {
					window[varName] = $warpUl.find('.list-group-child').length;
				}
				window[varName]++;
				var childIndex = window[varName];
				var $item      = $('<li class="list-group-item list-group-items list-group-child" data-parent="0" data-id="parent_' + parentId + '_' + childIndex + '"/>');
				$item.html('<div class="pull-right">  <a class="btn btn-xs btn-success list-group-prev "><i class="icon icon-arrow-up"></i></a> <a class="btn btn-xs btn-success list-group-next"><i class="icon icon-arrow-down"></i></a> </div> <span>子菜单名称' + childIndex + '</span> <input type="hidden" name="button[' + parentId + '][sub_button][list][' + childIndex + '][name]" value="子菜单名称' + childIndex + '"/> <input type="hidden" name="button[' + parentId + '][sub_button][list][' + childIndex + '][value]" value=""/> <input type="hidden" name="button[' + parentId + '][sub_button][list][' + childIndex + '][type]" value="view"/> </li>');
				$(this).before($item);

				updateAddBtn();

				$item.trigger('click');
			});

			// 下移动事件
			$(document).on('click', '.list-group-next', function (e) {
				e.stopPropagation();
				var $warp     = $(this).closest('li');
				var isParent  = parseInt($warp.data('parent'));
				var $nextElem = null;
				if (isParent) {
					var $ul   = $warp.next('ul');
					$nextElem = $ul.next('li.list-group-items').next('ul');
					if (!$nextElem.length) {
						return;
					}
					$warp.insertAfter($nextElem);
					$ul.insertAfter($warp);
				} else {
					$nextElem = $warp.next('li.list-group-items');
					if (!$nextElem.length) {
						return;
					}
					$warp.insertAfter($nextElem);
				}
			});

			// 上移动事件
			$(document).on('click', '.list-group-prev', function (e) {
				e.stopPropagation();
				var $warp     = $(this).closest('li');
				var isParent  = parseInt($warp.data('parent'));
				var $prevElem = null;
				if (isParent) {
					var $ul   = $warp.next('ul');
					$prevElem = $warp.prev('ul').prev('li.list-group-items');
					if (!$prevElem.length) {
						return;
					}
					$warp.insertBefore($prevElem);
					$ul.insertAfter($warp);
				} else {
					$prevElem = $warp.prev('li.list-group-items');
					if (!$prevElem.length) {
						return;
					}
					$warp.insertBefore($prevElem);
				}
			});

			updateAddBtn();

			$('.list-group-items').eq(0).trigger('click');
			pending.close();
		});
    </script>
</block>